---
import { getAltLinks } from '~/data/get-alt-links'

interface Props {
  // TODO: maybe make this type a bit better
  links: string[]
}

const locale = Astro.currentLocale!
const { links } = Astro.props

---

<div class="flex items-center justify-end gap-6">
  {getAltLinks(links).map(({ href, hrefLang }) => (
    <a
      href={href}
      hreflang={hrefLang}
      class="text-sm text-zinc-500 font-medium tracking-wide uppercase hover:text-zinc-600"
    >
      { hrefLang.toLocaleUpperCase(locale) }
    </a>
  ))}
</div>
