---
import Heading from './Heading.astro'
import Images from './Images.astro'
import Container from '~/components/common/Container.html'
---

<div class="isolate overflow-hidden">
  <Container>
    <div class="py-16 sm:max-lg:py-24">
      <div class="flex flex-col gap-16 lg:(flex-row gap-32) sm:gap-24">
        <Heading />
        <Images />
      </div>
    </div>
  </Container>
</div>
