---

---

<div class="lg:min-w-xl">
  <div class="px-4 -mx-4 sm:(mx-0 px-0) lg:hidden">
    <div class="grid auto-cols-75vw auto-flow-col justify-center gap-4 sm:(auto-cols-auto cols-3)">
      <div class="aspect-square rounded-xl bg-zinc-100"></div>
      <div class="mt-8 aspect-square rounded-xl bg-zinc-100"></div>
      <div class="aspect-square rounded-xl bg-zinc-100"></div>
    </div>
  </div>
  <div class="cols-2 hidden gap-4 lg:grid">
    <div class="flex flex-col gap-inherit">
      <div class="aspect-square rounded-xl bg-zinc-100"></div>
      <div class="aspect-square rounded-xl bg-zinc-100"></div>
    </div>
    <div class="mt-16 flex flex-col gap-inherit">
      <div class="aspect-square rounded-xl bg-zinc-100"></div>
      <div class="aspect-square rounded-xl bg-zinc-100"></div>
    </div>
  </div>
</div>
