---
import IconArrowRight from '~icons/material-symbols/arrow-right-rounded'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="text-red">Astro</h1>
    <span><IconArrowRight aria-hidden="true" /></span>
  </body>
</html>
